body {
    font-family: sans-serif;
    background-color: rgba(215, 224, 236, 0.836);
}

a {
    text-decoration: none;
    color: rgb(122, 88, 189);
}

header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    height: 80px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .footer-icons {
        display: inline;
        padding-left: 0px;
    }
}

@media (max-width: 576px) {
    #brand {
        display: none;
    }
}

#carouselExampleSlidesOnly {
    
    width: 100%; 
    height: 0; 
    padding-bottom: 40%; 
    position: relative; 
    overflow: hidden;
    
}





    


