body {
    font-family: sans-serif;
    background-color: rgba(228, 223, 253, 0.836);
  }
  
  a {
    text-decoration: none;
    color: #f2edfc;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6a5279;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 999;
  }

  .navbar-nav .nav-link,
  .navbar-nav .nav-link.active {
    color: white;
    font-size: 18px;
  }

  
  .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 60px;
    margin-right: 10px;
  }
  
  .card {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .main {
    padding: 10px;
  }
  
  .btn {
    background-color: #6a5279;
    border-color: #6a5279;
    color: azure;
  }
  
  .btn:hover {
    background-color: #6a5279;
    border-color: #6a5279;
  }
  
  h3 {
    font-weight: bold;
    font-size: medium;
    margin: 10px 0px 15px 0px;
  }
  
  footer {
    width: 100%;
    position: relative;
    background-color: #6a5279;
    padding: 0.5vw;
    font-size: 16px;
  }
  
  .fila {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
  }
  
  .col {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  
  .col h3 {
    width: fit-content;
    margin-bottom: 2vw;
    position: relative;
    font-size: 1.5vw;
  }
  
  .fot {
    list-style-type: none;
    margin-bottom: 1vw;
  }
  
  .fot a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .iconos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .iconos img.icon {
    display: block;
    margin: 0 auto;
    width: 150px;
  }
  
  .carrito {
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {

    .iconos {
     
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
    
    .card {
      width: 48%;
      max-width: none;
    }
  }
  
 
  #carouselExampleSlidesOnly {
    margin-top: 96px;
  }
  

    


