
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgba(215, 224, 236, 0.836);

}

a{
    text-decoration: none;
    color: rgb(247, 247, 247);
}

header{
    display: flex;
    min-height: 70px;
    background-color: #060707;;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: rgb(74, 121, 168);
}

  .contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 30px;
  }
  
  li {
    margin-bottom: 10px;
  }

.testimonios{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  

}
  footer {
    background-color: #151313;
    padding: 20px;
    text-align: center;
    color: aliceblue;
  }


  @media only screen and (max-width: 700px) {
    .contenedor {
        margin: 20px;
    }
    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        display: none;
    }
    .logo{
      margin-left: 10px;
    }

    .nav-link {
        padding: 5px;
        margin: 5px 0;
    }
}

